<!-- 
  UofT SCS Data Analytics Boot Camp
  Unit-12-Web-Scraping-Challenge
  Author:	Vivianti Santosa -->

<!--CSS Page -->  

.box1{
    border: double black;
    background-color: pink;
    padding: 10px;
}
.feature_image{
    width:100%
}