<!-- 
  UofT SCS Data Analytics Boot Camp
  Unit-12-Web-Scraping-Challenge
  Author:	Vivianti Santosa -->

<!--MARS MISSION WEBPAGE -->  

<!DOCTYPE html>
<html lang="en">

<head>
  <title>MissionToMars</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    p{
    font-size: 16px; 
    text-align: justify; }
    h3{
      padding-bottom: 0px;}
    .box1{
    /*border: solid black; 
    background-color: rgb(43, 226, 83);*/
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin: 0px;}
    .f_image{
    width:100%;
    border: ridge 10px;}  
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center" style="margin-bottom: 0px; padding: 24px;">
      <h1>MISSION TO MARS</h1>
      <p2><a class="btn btn-primary btn-lg" style="padding-left: auto; padding-right: auto;"   href="/scrape" role="button">Get Data!</a></p2>
    </div> 
  </div><!--end of container-fluid-->

  <div class="container-fluid">
    <div class ="row"> 
      <div class="col-sm-12" > 
        <div class="box1">
          <h2>LATEST MARS NEWS</h2>
          <h3>{{ m_data.mars_news.news_title }}</h3>
          <p>{{ m_data.mars_news.news_article }}</p>
        </div> 
      </div> 
    </div>
    <div class="row">
      <div class="col-sm-8"> <!--this is LEFT column -->
        <div class="box1" style="padding-right: 0px;">
          <h2>FEATURE MARS IMAGE</h2>
          <p>  {{ m_data.f_image_dict.f_title }} </p>
          <img src="{{ m_data.f_image_dict.f_image_url }}" class="f_image" alt="Featured Space Image">
        </div>
      </div> <!--end of LEFT column-->
      <div class="col-sm-4"> <!--this is RIGHT column --> 
        <div class="box1" style="padding-left: 2%;">
          <h2>MARS WEATHER</h2>
          <h3>Current weather on Mars</h3>
          <p>{{ m_data.weather_tweet }}</p>
        </div>
        <div class="box1" style="padding-left: 2%;">
          <h2>MARS FACTS</h2>
          {{ m_data.mars_table | safe}}
        </div> <br>
    </div> <!--end of row-->
  </div> <!--end of container-->

  <div class="container-fluid">
    <div class="row">
      <div class="box1">
        <h2>MARS HEMESPHIRE IMAGES</h2>
        <br>
        <div>
          {% for image in m_data.hem_img_dict %}
            <div class="col-xs-6 col-md-3"> 
              <div class="card" style="width: 100%">
                <img class="card-img-top" src="{{ image.Image_ULR }}" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">{{ image.Title }}</h4>
                  <p1 class="card-text">{{ image.Info }}</p1><br>
                  <a href="{{ image.site }}" class="btn btn-primary stretched-link">More Info</a>
                </div>
              </div>  
            </div>
          {% endfor %}
        </div>
      </div>
    </div> <!--end of row--><br><br><br>
  </div> <!--end of container-->
</body>

</html>
